* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
  background-color: rgb(49, 49, 49);
}

img {
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.container {
  background: rgb(31, 29, 29);
  border-radius: 6px;
  margin: 0 1rem;
}

.data {
  padding: 1rem;
  color: aliceblue;
}

@media (min-width: 480px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 680px) and (max-width: 940px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 980px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
}
